*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    background: #ffff;
}
.side-nav {
    width: 250px;
    height: 100%
    background: #21b3ed;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}
.logo {
    display: block;
    margin-bottom: 130px;
}
.logo-img {
    width: 150px;
}

.nav-links {
    list-style: none;
    position: relative;
}
.nav-links li {
    padding: 10px 0;
}
.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 14px
}

.table-container {
    position: relative;
}

table,td,th {
  text-align: center;
  border: 0px solid;
  padding: auto;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1%;
}

.overlay-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #000000; 
  color: #fff; 
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center;
}
