*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    background: transparent;
    /*
    COLOR SCHEME
    dark blue -- #003664
    turquoise blue -- #2975a7
    tan -- #ccc1b8
    light gray -- #dae0e4
    */
}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.farro-light {
    font-family: "Farro", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .farro-regular {
    font-family: "Farro", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .farro-medium {
    font-family: "Farro", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .farro-bold {
    font-family: "Farro", sans-serif;
    font-weight: 700;
    font-style: normal;
  }  

.shaded-box {
    background-color: #ccc1b8; /* Light gray background */
    padding: 2px 6px; /* Some spacing around the text */
    border-radius: 4px; /* Slightly rounded corners */
    display: inline-block; /* Keeps it inline with text */
}
  

.header {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #dae0e4;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    letter-spacing: 15px;
    color: #003664;
    padding-top: 100px;
    padding-bottom: 40px;
}

h2 {
    font-family: "Cardo", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    color: #2975a7;
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-text {
    margin-left: 15%;
    font-size: 18px;
    color: #003664;
    letter-spacing: 1px;
    font-family: "Cardo", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5em;
    padding: 5%;
}

/*------------------------------SIDEBAR------------------------------*/


.sidebar {
    width: 15%;
    min-width: 75px;
    max-width: 215px;
    height: 100%;
    background: #003664;
    background: #003664;
    position: fixed;
    top: 0;
    left: 0;
    padding: 3vh 10px 10px 10px;
}

.logo {
    display: flex; /* Enables horizontal alignment */
    align-items: center; /* Aligns text and image in the center */
    justify-content: center;
    text-align: left;
    margin-bottom: 50px; /* Reduce space below */
    color: #dae0e4;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: 100%;
    max-width: 200px;
}

.logo-text {
    font-size: 20px;
    margin-left: 10px;
    white-space: nowrap
}

.logo-img {
    width: 50px;
    height: 50px;
}

/* Hide logo text when the screen shrinks */
@media (max-width: 1450px) {
    .logo {
        justify-content: center;
    }

    .logo-text {
        display: none;
    }
}

.nav-links {
    list-style: none;
    position: relative;
}
.nav-links li {
    padding: 10px 0;
}
.nav-links li a {
    color: #dae0e4;
    color: #dae0e4;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 3px;
    transition: all 0.3s ease-in-out;
}
.nav-links li a i {
    margin-right: 10px;
    font-size: 30px;
}
/* Hide the text on smaller screens while keeping the icons */
@media (max-width: 1450px) {
    .nav-links li a {
        justify-content: center;
    }

    .nav-links li a i {
        margin-right: 0px;
    }

    .nav-links li a span {
        display: none;
    }
}
.active {
    background: #dae0e4;
    background: #dae0e4;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255,255,255,0.4);
    display: none;
    transition: top 0.5s;
}
.nav-links li:hover a {
    color: #003664;
    color: #003664;
    transition: 0.3s;
}
.nav-links li:hover ~ .active {
    display: block;
}
.nav-links li:nth-child(1):hover ~ .active {top: 4.5%;}
.nav-links li:nth-child(2):hover ~ .active {top: 27%;}
.nav-links li:nth-child(3):hover ~ .active {top: 52%;}
.nav-links li:nth-child(4):hover ~ .active {top: 77%;}


/*------------------------------BODY------------------------------*/

.project {
    position: relative;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}
.project img {
    width: 90%;
    max-width: 1000px;
    filter: drop-shadow(0 0 0.75rem #ccc1b8);
    object-fit: cover;
    object-position: center;
}
.project:hover img {
    filter: blur(2px);
    transform: scale(1.1);
    width: 90%;
    max-width: 1000px;
    filter: drop-shadow(0 0 0.75rem #ccc1b8);
    object-fit: cover;
    object-position: center;
}
.project:hover img {
    filter: blur(2px);
    transform: scale(1.1);
}
.project:hover .content {
    opacity: 1;
    transform: translateY(0);
    transform: scale(1.1);
}
.project .content {
    width: 90%;
    max-width: 1000px;
    position: absolute;
    inset: 0;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    line-height: 2.1vw;
    background: rgba(0, 0, 0, 0.5);
    color: #dae0e4;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(100%);
    padding-left: 10%; padding-right: 10%;
    padding-top: 3%;
}

.project img,
.project .content {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh; margin-bottom: 1vh;
    border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
    transition: 200ms ease-in-out;
}


/*------------------------------FOOTER------------------------------*/

.footer {
    width: 100%;
    height: 5vh;
    background: #ccc1b8;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    color:#003664;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vh;
}